.panel-heading {
.font-slab-serif;
.caps;	
}

.jumbotron {
.gradient(@red, @red, @redMid);
	a {
	.txt-col-wht;
		&:hover, &:active, &:focus {
		.txt-col-wht;
		}	
	}
}

.hp-banner {
.pad-top(40);
.h(75);	
.bg-repeat;
.bg-size;
background-position: center center;
.rel;

	.container {
	.rel;
	z-index: 2;	
	}

	.btn {
	width: 50%;
	.no-border;
	margin: auto;
	.pad-all(0);
	.h(5);
	.line-h(5);
	.font-size(2.5);
	.caps;
	.font-slab-serif;	
	.bg-col-red;
	.txt-col-wht;
	.mag-top(3);
		&:hover, &:active, &:focus {
		.bg-col-red-dk;
		}
	}
	
	&:after {
	content: "";
	.abs;
	.left(0);
	.bottom(0);
	width: 100%;
	height: 75%;	
	.gradient(@trans, @grayDk, @trans);
	}
}

.panel {
.shadow-inset-none;
.border-col(@redMid);	

	.panel-heading {
	.bg-col-red-dk;
	.txt-col-wht;
	.no-border;	
	}
	.table-bordered, .panel-body {
	.font-size(1.6);
	}
	
	.add-info-txt {
	.h(11.6);
	overflow-y: auto;	
	}
	
	.address-txt {
	.h(15.5);
	overflow-y: auto;	
	}
	
	.table-bordered>tbody>tr>th,
	.table-bordered>tbody>tr>td,
	.table-bordered>thead>tr>td,
	.table-bordered>tfoot>tr>td {
	.border-col(@redMid);	
	vertical-align: middle;
	}
	
}