.panel-heading {
.font-slab-serif;
.caps;	
}

.jumbotron {
.gradient(@red, @red, @redMid);
	a {
	.txt-col-wht;
		&:hover, &:active, &:focus {
		.txt-col-wht;
		}	
	}
}

.hp-banner {
.pad-top(40);
.h(75);	
.bg-repeat;
.bg-size;
background-position: center center;
.rel;

	.container {
	.rel;
	z-index: 2;	
	}

	.btn {
	//width: 50%;
	.no-border;
	//margin: auto;
	.pad-all(0);
	.h(5);
	.line-h(5);
	.font-size(2.5);
	.caps;
	.font-slab-serif;	
	.bg-col-red;
	.txt-col-wht;
	.mag-top(3);
	.drop-shadow(0, 3px, 10px, 0.5);
		&:hover, &:active, &:focus {
		.bg-col-red-dk;
		.txt-col-wht;
		}
		
		i {
		.line-h(5);
		.pad-right(1.5);	
		}
	}
	
	&:after {
	content: "";
	.abs;
	.left(0);
	.bottom(0);
	width: 100%;
	height: 75%;	
	.gradient(@trans, @grayDk, @trans);
	}
}

.case-progress {
.rel;
.border-col(@blue-dk);
.bg-col-blue-lt;
	
	.icon {
	.abs;
	.top(-0.1);
	.left(-0.1);
	.bottom(-0.1);
	.w(10);	
	.bg-col-blue-dk;	
	.border-radius(0, 0, 4px, 4px);
	}
	
	.icon-label {
	.font-size(1.2);
	.caps;
	.txt-col-wht;	
	.line-h(1.2);
	}

	i {
	.block;
	text-align: center;
	.txt-col-blue-lt;
	.line-h(8);
	}
		
	.status-date {
	.txt-col-wht;
	.caps;	
	.in-block;
	.font-size(1.4);
	.pad(0;2;0;2);
	.line-h(3);
	.rounded(15px);
	.bg-col-blue;
	.bold;
	.mag-bot(1);
	}
	
	.case-status {
	.font-size(3);
	.line-h(3);	
	.txt-col-blue-dk;
	.font-slab-serif;
	.bold;
	}
}

.panel-default {
.shadow-inset-none;
.border-col(@redMid);	

	.panel-heading {
	.bg-col-red-dk;
	.txt-col-wht;
	.no-border;	
	}

	.table-bordered, .panel-body {
	.font-size(1.4);
	}
	
	.table-bordered>tbody>tr>th,
	.table-bordered>tbody>tr>td,
	.table-bordered>thead>tr>td,
	.table-bordered>tfoot>tr>td {
	.border-col(@redMid);	
	vertical-align: middle;
	.pad-all(0.5);
	}
	
	.add-info-txt {
	.h(9.2);
	overflow-y: auto;	
	}
	
	.table-bordered>tbody>tr>td.address-txt {
	.h(12.3);
	overflow-y: auto;	
	vertical-align: top;
	}
	
	.table-bordered>tbody>tr>th {
	.txt-col-gray;	
	}
	
	.btn-block i.pull-right {
	.line-h(2);
	}
	
}

.well-message {
.bg-col-grayLt;
margin: 40px 0px 40px 0px;
.border(@red; 0.4);
.drop-shadow(0, 3px, 10px, 0.5);
	h2 {
	.font-size(4);	
	.font-slab-serif;	
	.txt-col-red;
	}	
	
	p {
	.font-size(2);	
	}
}