html {
min-height: 100%;
}

body {
width: 100%;
height: 100%;
.rel;
-webkit-tap-highlight-color: transparent;
-webkit-font-smoothing: antialiased;
-moz-osx-font-smoothing: grayscale;
.font-size(2);	

	&.loading {
	overflow: hidden;	
	.abs;
	.top(0);
	.left(0);
	}
	
	&.loaded {
	overflow: auto;	
	}
	
	&.nav-open {
	overflow: hidden;	
	.abs;
	.top(0);
	.left(0);
	}
}


/*
COLOUR STRIP
*/
.col-strip {
.h(2.4);
.border-bot(white; 0.4);
z-index: 2;
.rel;
	.col-block {
	.h(2);	
	width: 20%;
	.fleft;
	.border-right(white; 0.4);
		&:last-child {
		border-right: none;	
		}
	}
	
	.col-purple {
	.bg-col(@purple);	
	}
	
	.col-green {
	.bg-col(@green);	
	}
	
	.col-pink {
	.bg-col(@pink);	
	}
	
	.col-orange {
	.bg-col(@orange);	
	}
	
	.col-blue {
	.bg-col(@blue);	
	.no-border;
	}
}