html {
min-height: 100%;
}

body {
width: 100%;
height: 100%;
.rel;
-webkit-tap-highlight-color: transparent;
-webkit-font-smoothing: antialiased;
-moz-osx-font-smoothing: grayscale;
.font-size(2);	
.bg-col-grayDk;
	&.nav-open {
	.abs;
	.top(0);
	.left(0);
	.over-hide;
	
		#page {
		.drop-shadow(0, 0, 20px, 0.5);	
		.opacity(0.5);
		}
	}
}

a {
.txt-col-red;
	&:hover, &:active, &:focus {
	.col(@redMid);
	}	
}

.container {
.min-w(117);			
}

.jumbotron {
.mag-bot(0);
.txt-col-wht;
	h1 {
	.font-slab-serif;	
	}
}

.site {
.rel;
.bg-col(@wht);	
//.transition(0.5s);
z-index: 2;
}

.site-main {
//.min-h(70);
}

/*
COLOUR STRIP
*/
.col-strip {
.h(2.4);
.border-bot(white; 0.4);
z-index: 2;
.rel;
	.col-block {
	.h(2);	
	width: 20%;
	.fleft;
	.border-right(white; 0.4);
		&:last-child {
		border-right: none;	
		}
	}
	
	.col-purple {
	.bg-col(@purple);	
	}
	
	.col-green {
	.bg-col(@green);	
	}
	
	.col-pink {
	.bg-col(@pink);	
	}
	
	.col-orange {
	.bg-col(@orange);	
	}
	
	.col-blue {
	.bg-col(@blue);	
	.no-border;
	}
}

.btns-group {
.pad-bot(4);	
}

.btn {
.no-border;
.txt-col-wht;
.font-slab-serif;
.font-size(3);
.caps;	
.rel;
	i {
	.font-size(2);	
	.line-h(4);
	.abs;
	.top(0);
	.right(0);
	.line-h(5);
	.w(5);
	.border-radius(4px, 4px, 0,0);	
	}
	
	&.btn-lg {
	.h(6);	
		i {
		.line-h(6);	
		.w(6);
		.font-size(3);
		}
	}	
}

.red-btn {
.bg-col-red;
.txt-col-wht;

	&:hover, &:active, &:focus {
	.bg-col-red-dk;
	.txt-col-wht;
	}
	
	i {
	.abs;
	.top(0);
	.right(0);
	.line-h(5);
	.w(5);
	.bg-col-red-dk;
	.border-radius(4px, 4px, 0,0);	
	}
}

.btn-success {
.bg-col-green-dk;
	i {
	.bg-col-green;	
	}
	
	&:hover, &:active, &:focus {
	.bg-col-green;
	}
	
}

#global-tel-num {
.pad-top(1.5);
.pad-bot(1.5);
.rel;
.bg-col-red-dk;

	.container {
	.pad-top(0);	
	.pad-bot(0);
	}
	
	.overlay {
	.abs;
	width: 100%;
	height: 100%;
	.top(0);
	.left(0);
	.bg-img("thin-stripe-wht.png");	
	z-index: 0;
	.opacity(0.2);
	.inner-shadow(0, 0, 20px, 0.7);
	}

	i {
	.block;
	.w(9);
	.h(9);
	.line-h(8.2);
	.border(@wht; 0.4);
	.rounded(100%);	
	text-align: center;
	.col(@wht);	
	.bg-col-red;
	.drop-shadow(0, 3px, 10px, 0.8);
	.rel;
	z-index: 2;
	.animated;
		&.fa-phone {
		.bounceInLeft;	
		}
		
		&.fa-mobile-phone {
		.bounceInRight;	
		}
	}
	
	.number {
	.rel;
	z-index: 2;
	.font-size(6.5);
	.line-h(9);	
	.col(@wht);	
	text-shadow: 0px 3px 5px rgba(50, 50, 50, 0.8);
	text-align: center;
		span {
		.txt-col-green;	
		}
		a {
		.txt-col-orange;	
		.bold;
		.no-text-dec;
			&:hover, &:active, &:focus {
			.txt-col-red;
			}
		}
	}
	
}